body{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

.header-top{
    background-color: #ffffff;
    max-width: 1200px;
    overflow: hidden;
    list-style: none;
    margin: auto;
    position: relative;
    height: 35px;
}

.header-top li{
    display: block;
}

.header-top li a{
    color: #00C0F9;
    text-align: left;
    float: left;
    font-size: 15px;
    padding-left: 10px;
}

.header-top li c {
    color: #00C0F9;
    text-align: center;
    float: right;
    font-size: 15px;
    padding-right: 10px;
}

.header-bg{
    background-color: #00C0F9;
    max-width: 100%;
    height: 150px;
}

.header{
    max-width: 1200px;
    overflow: hidden;
    margin:auto;
    height: 150px;
}

.header-image{
    height: 90px;
    width: 241px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
}
.search-bar{
    width: 150px;
}

.searchTerm {
    width: 200px;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #bcc0cc;
}

.searchButton {
    width: 150px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.search {
    width: 250px;
    position: relative;
    display: flex;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    bottom: -20px;
}

.header p{
    Color: #ffffff;
    float: right;
    font-size: 24px;
    padding-top: 15px;
    padding-right: 10px;
}

a.white{
    color: #FFFFFF;
}

.nav-bg{
    max-width: 100%;
    background-color: #B9BBBD;
    position: relative;
}


.dropbtn {
    background-color: #0025af;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #e7e7e7;
    width: 100%;
    border: 0px;
    text-align: left;
}

.dropdown-content button:hover {
    background-color: white;
    cursor: pointer;
}





.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #2d478e;
}

.container {
    position: relative;
}

.home-image{
    width: 100%;
    margin: auto;
    z-index: 0;
}

.home-text{
    background-color: #18678e;
    color: #ffffff;
    font-size: 33px;
    position: absolute;
    padding: 25px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Flex container */
#p-flex {
    max-width: 1208px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    backgound-color: red;
}
/* Product items */
div.p-flex {
    width: 25%;
    backgound-color: red;
}
div.p-flex-in {
    backgound-color: red;
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    border: 2px solid #dee0fc;
    background: #EBECEC;
}
img.p-img {
    width: 100%;
    height: auto;
}
div.p-name {
    font-weight: bold;
    font-size: 1.1em;
}
div.p-price {
    color: #EA4476;
}
div.p-desc {
    color: #888;
    font-size: 0.9em;
}
button.p-add {
    background: #00C0F9;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px;
    margin: 10px 5px 5px 5px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}
/* Responsive */
@media only screen and (max-width: 1024px) {
    div.p-flex { width: 33%; }
}
@media only screen and (max-width: 600px) {
    div.p-flex { width: 50%; }
}

.bottom-divider{
    background-color: #00C0F9;
    max-width: 100%;
    height: 75px;
}

.bottom-text{
    max-width: 1200px;
    margin:auto;
    padding-left: 10px;
    padding-bottom:15px;
    text-decoration: none;
}

a.black{
    color: #000000;
}
.left p {
    font-size: 16px;
    text-align: left;
    color: #000000;
    text-decoration: none;
    display: none;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}
.winkelmand_pos{
    float: right;
}

.registratieformulier {
    max-width: 50%;
    width:50%;
    margin: auto;
    display: table;
    clear: both;
}

.rij {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100%;

}

.rechterrij {

    display: table;
    clear: both;

}

* {
    box-sizing: border-box;
}








